*{
  margin:0;
  padding: 0;
  box-sizing: border-box
}

.App {
  text-align: center;
}
h1 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;
}
select:focus {
  border-color: #007bff;
  background-color: #ffffff;
}


.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3f2fd;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.weather-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.weather-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem 0;
}

.weather-card p {
  font-size: 1rem;
  color: #555;
  margin: 0.3rem 0;
}

.weather-card img {
  margin-top: 0.5rem;
  width: 50px;
  height: 50px;
}

p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #007bff;
}

/* Yükleniyor ve hata mesajları */
.loading,
.error {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #ff6b6b;
}